[submodule "dev_modules/tweeq"]
	path = dev_modules/tweeq
	url = https://github.com/baku89/tweeq
[submodule "dev_modules/jsgif"]
	path = dev_modules/jsgif
	url = https://github.com/antimatter15/jsgif.git
